@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  color: theme('colors.black');
  overflow-y: scroll;
}

h2:not(.hero-card__title) {
  @apply text-xl lg:text-h2 font-bold;
}

h3 {
  @apply text-sm font-semibold;
}

p {
  @apply text-xs;
}

.navigation-menu li a,
.navigation-menu li {
  @apply text-xl;
}

.button {
  @apply bg-accent transition-all ease-in-out text-white font-bold px-4 py-4 lg:py-4 lg:px-7 text-xs lg:text-sm flex items-center;

  &:hover {
    @apply brightness-125;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply text-black;
}

.stages-list {
  counter-reset: stages;
  li:hover {
    &:after {
      @apply text-white;
    }
  }

  li:after {
    content: counter(stages)".";
    counter-increment: stages;
    transition: inherit;
    @apply font-bold text-3xl text-accent absolute left-6;
  }
}

.modal-wrapper {
  @apply fixed inset-0 transition-opacity ease-in-out opacity-0 bg-white-500 bg-opacity-50 z-30 backdrop-blur flex shadow-sm justify-center items-center;

  &.active {
    @apply opacity-100;
  }
}

.overlay {
  @extend .modal-wrapper;
  @apply z-10;
}

.modal-body {
  @apply bg-white py-6 px-6 lg:px-9 lg:py-9 relative z-30 lg:max-w-[790px] lg:min-w-[790px] w-[80%] lg:w-full;
}

.decor-line {
  @apply lg:after:h-1 lg:after:absolute lg:after:left-0 lg:after:bottom-0 lg:after:bg-accent lg:before:h-[2px] lg:before:absolute lg:before:left-0 lg:before:bottom-[2px] lg:before:bg-accent
}


.input {
  @apply py-2 px-5 border-accent border-[2px] border-solid w-full text-sm outline-none mb-2 lg:mb-8;
}

.input.error {
  @apply border-red-700 text-red-700;
}

.react-international-phone-input-container {
  button {
    border: none;
  }
}

.react-international-phone-input {
  border: none !important;
  width: 100% !important;
  height: 20px !important;
  @apply text-sm;
}

.react-international-phone-country-selector-button {
  height: 20px !important;
}

.radio {
  @apply flex items-center;
  &__mark{
    @apply after:w-[10px] after:h-[10px] after:bg-accent after:block after:rounded-full rounded-full border-[2px] border-accent border-solid w-4 h-4 flex items-center justify-center after:opacity-0 transition-opacity ease-in-out cursor-pointer;
  }

  input:checked ~ .radio__mark:after {
    opacity: 1;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;

  @media (min-width: 768px) {
    display: flex !important;
  }
}

.calc-btn {
  @apply w-5 h-5 lg:w-6 lg:h-6 flex items-center rounded-sm justify-center border-accent border-[2px] border-solid cursor-pointer transition-all ease-in-out;

  &:hover {
    @apply brightness-125;
  }

  svg {
    opacity: 0;
    transition: 0.3s all ease-in-out;
    color: #fff;
  }

  &.active {
    @apply bg-accent;
  }

  &.active svg {
    opacity: 1;
  }
}

input {
  border-radius: 0 !important;
}