@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: theme('colors.black');
}

h2:not(.hero-card__title) {
  @apply text-h2 font-bold;
}

h3 {
  @apply text-sm font-semibold;
}

p {
  @apply text-xs;
}

.navigation-menu li a,
.navigation-menu li {
  @apply text-xl;
}

.button {
  @apply bg-accent transition-all ease-in-out text-white font-bold py-4 px-7 text-sm flex items-center;

  &:hover {
    @apply brightness-125;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply text-black;
}

.stages-list {
  counter-reset: stages;


  li:hover {
    &:after {
      @apply text-white;
    }
  }

  li:after {
    content: counter(stages)".";
    counter-increment: stages;
    transition: inherit;
    @apply font-bold text-3xl text-accent absolute left-6;
  }
}

.modal-wrapper {
  @apply fixed inset-0 bg-white bg-opacity-50 flex shadow-sm justify-center items-center;
}